@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-inter), "Inter", "Inter Fallback", sans-serif;
  }
}

